
.window_content.shell_content {
    overflow-y: scroll;
    top: 5%;
    height: 95%;
}

.shell_input{
    color: white;
    width: 100%;
    outline: none;
    border: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.shell_color{
    background-color: rgba(0, 0, 0);
}

.opaque{
    opacity: 0.9;
}

.shell_font {
    color: white;
    font-family: Consolas;
}